#pageBody{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(19, 19, 19) 90.2%);
    margin: 0rem;
    overflow: hidden;
    position: relative;
}

#widgetContainer {
    display: flex;
    gap: 4vmin;
    position: absolute; 
    height: 366px;
    left: 50%; 
    top: 55%; 
    transform: translate(0%, -50%);
    transition: transform 0.3s ease-out; /* Smooth transition */
}


#widget{
    border: 1px solid rgba(240, 248, 255, 0.171);
    width: 256px;
    min-width: 256px;
    min-height: 366px;
    border-radius: 25px;
    box-shadow: 2px 1px 1px rgba(240, 248, 255, 0.534);
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.091), rgba(255, 255, 255, 0.084));
    /*backdrop-filter: blur(22px);*/
    -webkit-backdrop-filter: blur(20px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#searchSquare{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 170px;
    margin-top: 25px;
}

#inputOff {
    caret-color: aliceblue;
    width: 30px;
    height: 30px;
    border: 1px solid aliceblue;
    background-color: transparent;
    border-radius: 7px; /* Shortened form for border-radius */
    z-index: 1;
    outline: none;
    transition: width 450ms ease-in, height 200ms ease-in; /* Combine transitions */
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

@keyframes bounce {
    20%, 50%, 80%, to {
        transform: translateX(0) translateY(0);
    }
    40% {
        transform: translateY(-21px);
    }
    70% {
        transform: translateY(-4px);
    }
    90% {
        transform: translateY(-3px);
    }
}

#magnifyingGlass:hover #inputOff {
    width: 400px;
    height: 40px;
    animation: bounce 1s ease;
    box-shadow: 2px 1px 1px aliceblue;
}

#magnifyingGlass{
    display: flex;
    height: 42px;
    width: 500px;
    padding: 10px;
    flex-direction: row;
}

#handle {
    display: flex;
    height: 26%;
    width: 2px;
    background-color: rgba(240, 248, 255, 0.801);
    border-bottom-right-radius: 38px;
    border-bottom-right-radius: 40%;
    transform: translateY(270%) rotate(45deg) scaleY(1); /* Initial scaleY */
    transition: transform 300ms ease-out; /* Smooth transition for transform */
}

#magnifyingGlass:hover #handle {
    transform: translateY(190%) rotate(45deg) scaleY(0); /* Scale to 0 on hover */
}

#searchText{
    margin-bottom: 10px;
    color: aliceblue;
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: .6rem;
    font-weight: 300;
    width: 25%;
    display: none;
}

#inputOff:-webkit-autofill,
#inputOff:-webkit-autofill:hover, 
#inputOff:-webkit-autofill:focus, 
#inputOff:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    box-shadow: none;
}

#infoIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 9px;
}

#widgetDesign{
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.018);
    position: absolute;
    background-color: rgba(59, 59, 59, 0.062);
    transform-style: preserve-3d;
    transform: translateZ(75px);
}
